@import "https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');
pre::-webkit-scrollbar{
  display: none;
}
body{
  font-family: 'IBM Plex Sans', sans-serif;
}
.mark-down h1{
  font-size: clamp(1.5rem, 2.5vw, 2rem); 
  font-weight:bold;
}
.mark-down h2{
  font-size: clamp(1.5rem, 1.5vw, 1rem); 
  font-weight:bold;
}
.mark-down pre{
  background:rgb(15, 15, 15);
  color:white;
  padding: 1rem;
  border-radius: 5px;
  overflow-x: scroll;
  width: 100%;
}
.mark-down a{
  text-decoration: underline;
  font-weight: bold;
}
.mark-down img{
  margin-top: 1rem;
  width: 100%;
}
.home-section{
  min-height: 100vh;
}
@media screen and (min-width:780px) {
  .mark-down img{
    width: 50%;
  }
  .mark-down pre{
    width: 50%;
  }
}
